#meetTitle {
    font-weight:bold;
    font-size: 1.2em;
    padding: 1em 0;
    width:100%;
}

input.dynamic{
    width:80%;
    background:none;
    outline:none;
    text-align: center;
    border-radius: 0.3em;
    border: 0;
    padding: 6px;
    font-size: 1em;
    font-weight: bold;
}

input.dynamic:hover{
    background-color: #def;
}

input.dynamic:focus{
    background-color: #def;
    border:1px solid #6af
}

div.subtitle{
    font-weight: normal;
    font-size:0.9em;
}

table.lineup{
    border-collapse: collapse; 
    margin: 0.5em;
    max-width: calc(50% - 1em);
}

table.lineup tr:first-child {
    font-weight: bold;
}
table.lineup tr:nth-child(even){background-color: #fafafa;}

table.lineup tr.events {
    font-style:italic;
}

table.lineup td {
    border:1px solid #fff; 
    vertical-align: middle;
    line-height: 12pt;
    font-size: 10pt;
    padding: 1px;
    width:30px;
}

table.lineup td:first-child {
    width: 196px;
    padding: 1px 4px;
    text-align: left;
}

table.lineup td.right{
    text-align: right;
}

table.lineup td.secret{
    color:transparent;
}

span.count {
    font-weight:normal;
}

@media print {
    table.lineup {
        page-break-inside: avoid;
    }
    table.lineup tr:nth-child(even){background-color: #fff;}
}
