#lineups {
    color: #000;
    direction: ltr;
    text-align: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 1rem;
}

table.lineup{
    max-width: 49%;
    min-width: 330px;
}

table.lineup td {
    padding: 0;
    margin:0; 
    border:1px solid white; 
    border-collapse: collapse; 
    vertical-align: center; 
    background:none;
    line-height: 13pt;
    font-size: 13px;
    width:32px
}

table.lineup tr:nth-child(even){
    background-color: #fafafa;
}

table.lineup td:nth-child(1) {
    width: 192px;
    padding: 0 4px;
    text-align: left;
}

table.lineup td.right{
    text-align: right;
}
table.lineup td.secret{
    color:transparent;
}

td>svg {
    height: 12pt;
    font-size:8pt;
    vertical-align: bottom;
    background-color: transparent;
    fill: #000;
}

table.lineup tr.events > td:first-child{
    text-align:right;
}

tr.events {
    font-style:italic;
}

.absent{
    font-style: italic;
    color:#aaa;
}

#meetTitle {
    font-weight:bold;
    padding: 1em 0;
    width:100%;
}

div.subtitle{
    font-weight: normal;
    font-size:0.9em;
}

div.description{
    margin: 4px;
}

span.count {
    font-weight:normal;
}
