@media print {

    .noprint{display:none}

    .column {
        width: 100%;
        padding: 0;
        height: auto;
        float:none;
    }
    #displayArea {
        display:flex;
        direction: ltr;
        margin: 0;
        padding: 0;
        background: none;
        color: #000;
    }

    #lineups {
        padding: 0;
        margin: 0;
        background: none;
        min-width: none;
        width: 100%;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }

    table.lineup {
        page-break-inside: avoid;
        max-width:49%;
    }

    table.lineup tr:nth-child(even){
        background-color: #fff;
    }

    
    table.lineup td:nth-child(1){
        padding: 0 4px;
        text-align: left;
    }
    
    table.lineup td {
        line-height: 12pt;
        font-size: 12px;
        width:32px
    }

    :root {
        background:none;
    }

    .column::-webkit-scrollbar {
        display: none;
    }
    
    .column::-webkit-scrollbar-thumb {
        display: none;
    }
}