@media print {

    .noprint{display:none}

    .column {
        width: 100%;
        padding: 0;
        height: auto;
        float:none;
    }

    #lineups {
        padding: 0;
        margin: 0;
        background: none;
        min-width: none;
        width: 100%;
    }

    #flex {
        justify-content: space-between;
        line-height: 12pt;
        font-size: 12px;
    }

    table.lineup {
        page-break-inside: avoid;
    }

    table.lineup td, th {
        line-height: 12pt;
        font-size: 12px;
        width: 32px;
    }
    
    table.lineup td:nth-child(1), th:nth-child(1){
        width: 185px;
        padding: 0 4px;
        text-align: left;
    }

    :root {
        background:none;
    }

    .column::-webkit-scrollbar {
        display: none;
    }
    
    .column::-webkit-scrollbar-thumb {
        display: none;
    }
}