/*Mobile view*/
  @media screen and (max-width: 79rem) {
    .desktop {display:none}

    #view{
        display:flex;
        flex-flow: column nowrap;
        overflow-x: hidden;
        overflow-y:auto;
        height: calc(100vh - 8rem)
    }

    .scrollLeft {
        direction:ltr;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        border: 1px solid green;
    }

    .info {
        padding: 0.25rem;
    }

    #displayArea {
        font-size: calc(48rem / 100);
    }

  }

  /*Desktop view*/
@media screen and (min-width: 79rem) {
    
    .mobile {display:none}

    #view{
        display:flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: auto;
        overflow-x:hidden;
        overflow-y:hidden;
        height: 100vh
    }

    #sidebar {
        height: 100vh;
        align-content: center;
    }

    .topbar {
        padding: 0;
    }

    .info {
        padding-top: 1rem;
    }

  }


  @media print {
  
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .noprint, .scrollLeft::-webkit-scrollbar, #sidebar {display:none}
    #app, body {background:none}
    .scrollLeft {height:auto}
    #displayArea {
      width: 100%;
        margin: 0;
        padding: 0;
        background: none;
    }
  }