button {
    cursor: pointer;
    font-size: 1.2em;
    font-weight: normal;
    padding: 0.2em 0;
    border-radius: 0.3em;
}
button svg {
    display: inline;
    height: 1em;
    vertical-align: top;
}

button.tools {
    background-color: #00f;
    border: 2px solid #000;
    margin:0;
    color: #fff;
    width: calc(100% - 4px); 
}

div.upload {
    width:100%;
    margin-top: -2px;
}

button.tools svg{
    fill: #fff;
}

button.tools:hover {
    border: 2px solid #fff;
    filter: brightness(70%);
}

button.tools:active{
    border: 2px solid #000;
    filter: brightness(50%);
}

input.upload {display:none;}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2em 1em 1em 1em;
}
.about > div{
    color: #334;
    font-size: 0.875rem;
    margin:0.2em;
    border:none;
    padding:0;
}
#about-btn:hover{
    cursor: pointer;
    color:#6af;
}
  .blur{
    filter:blur(5px)
  }
  a{
    color:#6af
  }