div.tool {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding: 0.5em;
    margin: 1.5em 0.5em;
    border-radius: 0.3em;
    text-align: center;
}

input.dynamic{
    width:80%;
    background:none;
    outline:none;
    border: none;
    color: #000;
    text-align: center;
    font-size: 1em;
    border-radius: 0.3em;
    margin: 2px 2px 4px 2px;
    padding: 6px;
    font-weight: bold;
}

input.dynamic:hover{
    background-color: #def;
}

input.dynamic:focus{
    background-color: #def;
    border:1px solid #6af
}

div.tool > span{display:none}

input.upload {display:none;}
