button {
    cursor: pointer;
    font-size: 1.2em;
    font-weight: normal;
    padding: 0.2em 0;
    border-radius: 0.3em;
}
button svg {
    display: inline;
    height: 1em;
    vertical-align: top;
}

button.tools {
    background-color: #000;
    border: 0.125rem solid #6af;
    margin:0;
    color: #6af;
    width: 100%; 
}

span.upload {
    width:100%;
    margin: -0.125rem 0 0.5rem 0;
}

span.upload.inst {
    display: inline;
    margin: 0;
    font-size: 1em;
}

button.tools.inst, span.upload.inst > button.tools {
    width: auto;
    font-size: 1em;
    padding: 0 1em;
}

button.tools svg{
    fill: #fff;
}

button.tools:hover {
    border: 2px solid #888;
    color: #ddd;
}

button.tools:active{
    border: 2px solid #000;
    filter: brightness(50%);
}

input.upload {display:none;}

#print {
    margin-top: 0.5rem;
}

#info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0.2em 1em 1em 1em;
}
#info > div{
    color: #334;
    font-size: 0.875rem;
    margin:0.2em;
    border:none;
    padding:0;
}
#about-btn:hover{
    cursor: pointer;
    color:#6af;
}
  .blur{
    filter:blur(5px)
  }
  a{
    color:#6af
  }